.tela {
    height: 100vh;
    display: flex;
    align-items: center;

}

.Login {
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    width: auto;
    display: grid;
    background-color: #215CAA;
    grid-template-areas:
        "texto"
        "imagem";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 30px;
}

.LoginCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}