.LoginText {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
}
.Titulo {
    font-size: 50pt;
    margin-bottom: 1%;
    margin-top: 0%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}
.corpo-login {
    text-align: start;
}
.Subtítulo {
    text-align: start;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}