.Template {
    display: grid;
    grid-template-areas:
        "texto"
        "imagem";
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
}
.Template h1 {
    margin-top: 0;

}
.fundo {
    background-color: #215CAA;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 30px;
    box-shadow: inset 2px 15px 8px #5999ec;
}