
.LoginCard-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F7D11C;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 25px;
    width: 60%;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LoginCard-div h1 {
    font-size: 15pt;
    margin-top: 0;
}

.txt-login {
    margin-bottom: 1%;
    margin-top: 10%;
    font-size: 10pt;
}

#logar {
    margin-top: 10%;
}


