.barra-aluno {
    box-shadow: 4px 0px 10px #666666;
}

.dados-aluno {
    background-color: #F7D11C;    
    min-height:29vh;
    padding-top: 4vh;
    padding-bottom: 2vh;
    padding-left: 5%;
    padding-right: 5%;
}

.separador {
    min-height:2vh;
    background-color: #375070;
}
.opcoes {
    background-color: #215CAA;
    min-height:58vh;
    padding-top: 5vh;
    color: white;
    padding-left: 15%;

}

.opcoes-txt {
    text-align: initial;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.dados-txt {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15pt;
}

.dados-aluno h2:first-child {
    margin-top: 0;
}
.dados-aluno h2:last-child {
    margin-bottom: 0;
}
.opcoes h3:first-child {
    margin-top: 0;
}

.botao-dados{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 10%;
    margin-bottom: 0;
}

.botao-dados button{
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #666666;
    background-color: white;
}