.curriculo-txt {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

h1 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.curriculo-corpo {
    display: flex;
    flex-direction: column;
    text-align: initial;
}

.curriculo-corpo h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    margin-bottom: 1%;
    margin-top: 1%;

}

.caixa-seletora {
    display: flex;
    align-items: center;
}

.caixa-seletora h2 {
    margin-right: 3%;
}

#container-check {
    width: 400px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.materias {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;


    display: flex;
    flex-direction: column;
}